@use "../utility" as lv;

@mixin banner($e-class:null) {
  .banner,#{$e-class} {
    @include lv.e("content") {
      padding: 0rem;
      align-self: center;
      grid-area: content;

      @media screen and (max-width: 768px) {
        padding: 0;
        margin-top: 1rem;
      }
    }

    @include lv.e("media") {
      align-items: center;
      height: auto;
      justify-content: center;
      justify-self: right;
      grid-area: media;
      max-width: 600px;
      width: 100%;

      @media screen and (max-width: 768px) {
        height: auto;
        justify-self: center;
        padding: 0rem;
        width: 100%;
      }
    }

    @include lv.e("text") {
      max-width: 90%;
    }

    @include lv.e("wrapper") {
      display: grid;
      gap: 1em;
      grid-auto-columns: 1fr 1fr;
      grid-template-areas: "content media";
      grid-auto-flow: column;
      max-width: 1200px;
      margin: 0 auto;
      padding: 3rem 0rem;

      @media screen and (max-width: 1100px) {
        padding: 3rem 1rem;
      }

      @media screen and (max-width: 768px) {
        grid-template-rows: repeat(auto, 1fr);
        grid-template-areas:
          "content"
          "media";
        background-position: 1rem 80%;
        padding: 2rem 1rem;

      }
    }
    
    @content;
  }
}
