@use "../utility" as lv;

@mixin boxed-full() {
  .boxed-full {
    display:grid;
    grid-template-columns: 1fr 800px 1fr;
    place-items:center;

    @include lv.e('asset') {
      height:100%;
    }
    
    @include lv.e('content') {
      grid-area: 1 / 2 / 1 / 2;
      z-index: 2;
      color: lv.color('white');
      text-shadow:1px 1px 3px -2px rgba(0,0,0,.67);
    }

    @include lv.e('header') {}

    @include lv.e('image') {
      grid-area: 1 / 1 / 1 / 4;
      width: 100%;
      height:100%;
      z-index: 1;
      max-height: 50vh;
      min-height: 320px;
      background-color:lv.color('black');

      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: radial-gradient(circle, rgba(0,0,0,0.87) 0%, rgba(0,0,0,0.63) 77%, rgba(0,0,0,0) 100%);
        opacity: .87;
        z-index: -1;
      }
    }

    @include lv.e('sub-header') {}
    @include lv.e('text') {}

    @content;
  }
}
