@use '../utility' as lv;

@mixin card() {
  .card {
    @include lv.elevation(1);
    transition: box-shadow 333ms ease-in-out 150ms;
    
    &:hover {
      @include lv.elevation(5);
      cursor: pointer;
      transition: box-shadow 333ms ease-in-out;
    }
    
    @include lv.e('container') {
      padding: 1rem 1rem 2rem;
  
      @media screen and (max-width: 768px) {
        padding: 1rem 0.5rem 2rem;
      }
    }

    @include lv.e('header') {
      margin: 2rem 0rem 0rem;
    }

    @include lv.e('subHeader') {
      margin: 0.5rem 0rem 1.5rem;

      @media screen and (max-width: 768px) {
        margin: 0rem 0rem 2rem;
      }
    }
    @content;
  }
}
