@use "../utility" as lv;

@mixin cta() {
  .cta {
    @content;
    display: flex;
    justify-content: space-evenly;
    max-width: 1200px;
    margin: 6rem auto;
    position: relative;
    min-height: 470px;
    width: 100%;

    @media screen and (max-width: 1250px) {
      margin: 2rem 1rem;
    }

    @media screen and (max-width: 768px) {
      flex-wrap: wrap;
      min-height: 250px;
    }

    @include lv.e("button") {
      display: block;
      margin: 1rem 0rem;
      text-decoration: none;
      width: fit-content;

      @media screen and (max-width: 768px) {
        margin: 1rem ​auto 2rem;
      }
    }

    @include lv.e("content") {
      align-self: center;
      padding: 1rem 1.5rem;
      width: 50%;

      @media screen and (max-width: 768px) {
        order: 2;
        padding: 1rem 2rem;
        place-self: center;
        width: 100%;
      }
    }

    @include lv.e("image") {
      object-fit: cover;
      height: 100%;
      width: 100%;

      @media screen and (max-width: 768px) {
        order: 1;
        width: 100%;
        height: auto;
      }
    }

    @include lv.e("media") {
      height: auto;
      overflow: hidden;
      width: 50%;

      @media screen and (max-width: 768px) {
        order: 1;
        width: 100%;
      }
    }

    @include lv.e("text") {
      p {
        font-size: 19px;
        font-weight: 600;
      }
    }
    @content;
  }
}
